In [38]:
import pandas as pd
df = pd.read_csv('practice_dataset.csv')

In [39]:
df.head()

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters,Activity_Code
0,2025-01-01,P0001,34.0,Female,Peshawar,34.3,High,4.556821,2.0
1,2025-01-02,P0002,49.0,Female,Peshawar,12.2,Medium,2.312542,1.0
2,2025-01-03,P0003,30.0,Female,Karachi,10.3,High,2.852035,2.0
3,2025-01-04,P0004,38.0,Male,Peshawar,44.2,Medium,4.463841,1.0
4,2025-01-05,P0005,39.0,Male,Islamabad,13.2,Medium,2.631068,1.0

In [40]:
df.tail(7)

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters,Activity_Code
2993,2025-03-15,P2994,NaN,Female,Quetta,15.2,Medium,2.792303,1.0
2994,2025-03-16,P2995,41.0,Male,Islamabad,38.0,High,4.218415,2.0
2995,2025-03-17,P2996,51.0,Male,Lahore,40.6,Low,3.387598,0.0
2996,2025-03-18,P2997,50.0,Female,Quetta,34.8,NaN,NaN,NaN
2997,2025-03-19,P2998,48.0,Male,Karachi,35.1,High,4.530414,2.0
2998,2025-03-20,P2999,48.0,Male,Islamabad,40.1,High,4.445685,2.0
2999,2025-03-21,P3000,60.0,Male,Lahore,22.7,High,3.761947,2.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   3000 non-null   object
 1   Person_ID              3000 non-null   object
 2   Age                    2824 non-null   float64
 3   Gender                 3000 non-null   object
 4   City                   3000 non-null   object
 5   Temperature_C          3000 non-null   float64
 6   Activity_Level         2904 non-null   object
 7   Water_Consumed_Liters  2904 non-null   float64
 8   Activity_Code          2904 non-null   float64
dtypes: float64(4), object(5)
memory usage: 211.1+ KB

In [42]:
df.isnull().sum()

Date                       0
Person_ID                  0
Age                      176
Gender                     0
City                       0
Temperature_C              0
Activity_Level            96
Water_Consumed_Liters     96
Activity_Code             96
dtype: int64

In [43]:
df['City'].value_counts()

City
Quetta       561
Lahore       545
Karachi      526
Islamabad    520
Peshawar     507
islamabad     80
peshawar      75
quetta        63
karachi       62
lahore        61
Name: count, dtype: int64

In [44]:
df.shape

(3000, 9)

In [45]:
df.columns

Index(['Date', 'Person_ID', 'Age', 'Gender', 'City', 'Temperature_C',
       'Activity_Level', 'Water_Consumed_Liters', 'Activity_Code'],
      dtype='object')

In [46]:
df.describe()

               Age  Temperature_C  Water_Consumed_Liters  Activity_Code
count  2824.000000    3000.000000            2904.000000    2904.000000
mean     39.298159      27.573767               3.388817       1.010331
std      12.350831      10.098816               0.662852       0.808943
min      18.000000      10.000000               1.634158       0.000000
25%      29.000000      18.700000               2.931803       0.000000
50%      39.000000      27.900000               3.379343       1.000000
75%      50.000000      36.400000               3.853508       2.000000
max      60.000000      45.000000               5.156914       2.000000

In [47]:
df.duplicated().sum()

0

**data preprocess**

In [48]:
print(df.isnull().sum())

Date                       0
Person_ID                  0
Age                      176
Gender                     0
City                       0
Temperature_C              0
Activity_Level            96
Water_Consumed_Liters     96
Activity_Code             96
dtype: int64

In [49]:
avg_age = df['Age'].mean()
print(f"Average age: {avg_age:.2f}")

Average age: 39.30

In [50]:
df['Age'] = df['Age'].fillna(avg_age)

In [51]:
avg_water = df['Water_Consumed_Liters'].mean()
print(f"Average water: {avg_water:.2f}")

Average water: 3.39

In [52]:
df['Water_Consumed_Liters'] = df['Water_Consumed_Liters'].fillna(avg_water)

In [53]:
most_common_activity = df['Activity_Level'].mode()[0]
print(f"common Activity: {most_common_activity}")

common Activity: Medium

In [54]:
df['Activity_Level'] = df['Activity_Level'].fillna(most_common_activity)

In [55]:
print(df.isnull().sum())

Date                      0
Person_ID                 0
Age                       0
Gender                    0
City                      0
Temperature_C             0
Activity_Level            0
Water_Consumed_Liters     0
Activity_Code            96
dtype: int64

In [56]:
print(df.dtypes)

Date                      object
Person_ID                 object
Age                      float64
Gender                    object
City                      object
Temperature_C            float64
Activity_Level            object
Water_Consumed_Liters    float64
Activity_Code            float64
dtype: object

In [57]:
df['Age'] = df['Age'].astype('int')

In [58]:
df['Date'] = pd.to_datetime(df['Date'])

In [59]:
print(df.dtypes)

Date                     datetime64[ns]
Person_ID                        object
Age                               int32
Gender                           object
City                             object
Temperature_C                   float64
Activity_Level                   object
Water_Consumed_Liters           float64
Activity_Code                   float64
dtype: object

In [60]:
print(df.head())

        Date Person_ID  Age  Gender       City  Temperature_C Activity_Level  \
0 2025-01-01     P0001   34  Female   Peshawar           34.3           High
1 2025-01-02     P0002   49  Female   Peshawar           12.2         Medium
2 2025-01-03     P0003   30  Female    Karachi           10.3           High
3 2025-01-04     P0004   38    Male   Peshawar           44.2         Medium
4 2025-01-05     P0005   39    Male  Islamabad           13.2         Medium

   Water_Consumed_Liters  Activity_Code
0               4.556821            2.0
1               2.312542            1.0
2               2.852035            2.0
3               4.463841            1.0
4               2.631068            1.0

In [61]:
print(df['City'].value_counts())

City
Quetta       561
Lahore       545
Karachi      526
Islamabad    520
Peshawar     507
islamabad     80
peshawar      75
quetta        63
karachi       62
lahore        61
Name: count, dtype: int64

In [62]:
df['City'] = df['City'].str.title()

In [63]:
print(df['City'].value_counts())

City
Quetta       624
Lahore       606
Islamabad    600
Karachi      588
Peshawar     582
Name: count, dtype: int64

In [64]:
df.to_csv("process_data.csv", index=False)

**model train**

In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.preprocessing import LabelEncoder

In [66]:
import pandas as pd
df = pd.read_csv('process_data.csv')

In [67]:
le = LabelEncoder()
df['Gender_Code'] = le.fit_transform(df['Gender'])
df['City_Code'] = le.fit_transform(df['City'])

In [68]:
activity_map = {'Low': 0, 'Medium': 1, 'High': 2}
df['Activity_Code'] = df['Activity_Level'].map(activity_map)

In [69]:
y = df['Water_Consumed_Liters']

In [70]:
X = df[['Age', 'Temperature_C', 'Activity_Code', 'Gender_Code', 'City_Code']]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=94)

In [72]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [73]:
predictions = model.predict(X_test)

In [74]:
score = r2_score(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)

In [75]:
print(f"Score Accuracy fit: {score * 100:.2f}%")
print(f"Mean Absolute Error: {mae:.2f} Liters")

Score Accuracy fit: 90.12%
Mean Absolute Error: 0.17 Liters

In [76]:
import pickle
with open("model.pkl", "wb") as f:pickle.dump(model,f)